{% extends "django_sb_admin/base.html" %} 
{% block sb_admin_header %}{% endblock sb_admin_header %}
{% block sb_admin_sidebar %}<!-- left sidebar -->
<ul class="nav navbar-nav side-nav">
    <li>
        <a href="/django-sb-admin/"><i class="fa fa-fw fa-play"></i> MENU</a>
    </li>
    <li>
        <a href="/django-sb-admin/"><i class="glyphicon glyphicon-plus"></i> Crear Etiqueta</a>
    </li>    
    <li class="active">
        <a href="/django-sb-admin/dashboard/"><i class="glyphicon glyphicon-tag"></i> Normas Etiquetado Automatico</a>
    </li>
    <li>
        <a href="/django-sb-admin/charts/"><i class="glyphicon glyphicon-tags"></i> Normas Etiquetadas</a>
    </li>
    <li>
        <a href="/django-sb-admin/tables/"><i class="glyphicon glyphicon-check"></i> Validacion Etiquetado Norma</a>
    </li>
</ul>
{% endblock sb_admin_sidebar %}
{% block sb_admin_title %}Normas{% endblock sb_admin_title %}

{% block sb_admin_navbar_right %} Nuevo/ Editar Norma{% endblock sb_admin_navbar_right %}
{% block sb_admin_content %}


<form method="POST" role="form">
    <div class="form-group">
        {% csrf_token %}
        {{ form.as_table }}
        <button class="btn btn-lg btn-primary" type="submit">GUARDAR</button>
    </div>
</form>


{% if norma %}
    <a href="{% url 'delete_norma' norma.id %}">Delete</a>
{% endif %}



<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>

    $(document).ready(function () {
            //your code here
         
        $("#id_pretag").change(function () {
        console.log( $(this).val() );
        var id_pretag = $(this).val() ; 
        var text_norm = $('#id_norm_text').val() ;
            $.ajax({
                url: 'normas/ajax/etiquetado_automatico/',
                data: {
                    'pretag' : id_pretag,
                    'norm'   : text_norm
                },
                dataType: 'json',
                success: function(data) {
                    if (data.pretag){
                        $('#id_texto_etiquetado').val(data.pretag)
                    }
                }
            });
        });
    });

</script>
{% endblock sb_admin_content %}
