{% extends "django_sb_admin/base.html" %} 
{% block sb_admin_header %}Normas{% endblock sb_admin_header %}
{% block sb_admin_title %}Normas{% endblock sb_admin_title %}

{% block sb_admin_navbar_right %} Nuevo/ Editar Norma{% endblock sb_admin_navbar_right %}
{% block sb_admin_content %}

<a href="{% url 'create_norma' %}">Nuevo Producto</a>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Norma</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for norma in normas %}
                <tr>
                    <td>{{ norma.norm_text }}</td>
                    <td><a href="{% url 'update_norma' norma.id %}">Editar / Eliminar</a></td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>


{% endblock sb_admin_content %}

