{% extends "django_sb_admin/base.html" %} 
{% block sb_admin_header %}Etiquetas{% endblock sb_admin_header %}
{% block sb_admin_title %}Etiquetas{% endblock sb_admin_title %}

{% block sb_admin_navbar_right %} Nuevo/ Editar Etiqueta{% endblock sb_admin_navbar_right %}
{% block sb_admin_content %}

<a href="{% url 'create_etiqueta' %}">Nueva Etiqueta</a>
<ul>
    {% for etiqueta in etiquetas %}
        <a href="{% url 'update_etiqueta' etiqueta.id %}">
            <li> {{ etiqueta.nombre }}</li>
        </a>
    {% endfor %}
</ul>


{% endblock sb_admin_content %}

